.article-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a.anchor {
      opacity: 0;
      font-size: 0.75em;
      vertical-align: middle;
      text-decoration: none;
    }

    &:hover a.anchor,
    a.anchor:focus {
      opacity: initial;
    }
  }
}
