// ==================================================
// Global
// ==================================================

// ------ Colors ------ //
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;


// ------ Fonts ------ //
$global-font-size: 16px !default;
$global-font-color: $gray-800;




// ==================================================
// Code Highlight Variables
// ==================================================

// code text color
$code-text-color: #023e8a;
// Font size of code.
$code-font-size: 0.9em !default;
// font family
$code-font-family: Consolas, Monaco, Menlo, "DejaVu Sans Mono",
 "Bitstream Vera Sans Mono", "Courier New", monospace !default;
// code background color
$code-bg-color: #caf0f8;

// Code type list.
$code-type-list: (
  // Custom code type
  language-bash: "Bash",
  language-c: "C",
  language-cs: "C#",
  language-cpp: "C++",
  language-css: "CSS",
  language-coffeescript: "CoffeeScript",
  language-html: "HTML",
  language-xml: "XML",
  language-http: "HTTP",
  language-json: "JSON",
  language-java: "Java",
  language-js: "JavaScript",
  language-javascript: "JavaScript",
  language-makefile: "Makefile",
  language-markdown: "Markdown",
  language-objectivec: "Objective-C",
  language-php: "PHP",
  language-perl: "Perl",
  language-python: "Python",
  language-ruby: "Ruby",
  language-sql: "SQL",
  language-shell: "Shell",

  language-erlang: "Erlang",
  language-go: "Go",
  language-go-html-template: "Go HTML Template",
  language-groovy: "Groovy",
  language-haskell: "Haskell",
  language-kotlin: "Kotlin",
  language-clojure: "Clojure",
  language-less: "Less",
  language-lisp: "Lisp",
  language-lua: "Lua",
  language-matlab: "Matlab",
  language-rust: "Rust",
  language-scss: "Scss",
  language-scala: "Scala",
  language-swift: "Swift",
  language-typescript: "TypeScript",
  language-yml: "YAML",
  language-yaml: "YAML",
  language-toml: "TOML",
  language-diff: "Diff"
) !default;