<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
      {{- block "title" . -}} {{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }} {{- end -}}
    </title>
    {{ partial "head.html" . }}
  </head>
  <body>
      {{- partial "sidebar/mobile-menu.html" .Site.Menus.main -}}
      
      <div id="main-body" class="main-box">
          <div id="body-mask"></div>
          {{- partial "header.html" . -}}
          <div id="content" class="main-content">
              {{- block "main" . }}{{- end }}
          </div>
          {{- partial "footer.html" . -}} {{ partial "footer-script.html" . }}
      </div>
  </body>
</html>
