{{ define "main" }}

<div class="w-full bg-white">
    <main class="container mx-auto flex flex-col py-4">
        {{ range (.Paginate (.Pages.GroupByDate "2006") 100).PageGroups  }}
        <div class="w-full flex flex-row justify-start items-start">
            <div class="w-1/6 h-auto flex flex-row justify-center items-center">
                <h2 class="text-2xl font-semibold">{{ .Key }}</h2>
            </div>
            <div class="w-5/6 px-2 border-l-4 border-indigo-300">
                {{ range .Pages }}
                <div>
                    <span class="text-gray-400">{{ .Date.Format "01-02"}}</span>
                    <a class="text-gray-800 hover:text-indigo-700" href="{{ .RelPermalink }}">
                        <span class="">{{ .Title }}</span>
                    </a>
                </div>
                {{ end }}
            </div>

        </div>
        {{ end }}

        <div class="w-5/6 max-w-screen-lg">
            <div class="flex w-full justify-between max-w-screen-lg border-t border-dashed mt-4 py-2">
                <div>
                    {{ with .Paginator.Prev -}}
                    <a class="block" href="{{ .URL }}">
                        <span class="text-lg font-semibold text-gray-600 hover:text-indigo-900">{{ T "prevPage" }}</span>
                    </a>
                    {{- end }}
                </div>
                <div>
                    {{ with .Paginator.Next -}}
                    <a class="block" href="{{ .URL }}">
                        <span class="text-lg font-semibold text-gray-600 hover:text-indigo-900">{{ T "nextPage" }}</span>
                    </a>
                    {{ end -}}
                </div>
            </div>
        </div>
         

    </main>
</div>
{{ end }}