{{ define "main" }}
    <div class="w-full bg-white">
        <main class="container mx-auto flex flex-col justify-start items-center py-4">
            <div class="w-full">
                <div class="flex flex-row flex-nowrap">
                    {{ $pageCtx := .}}
                    {{ with .Params.series }}
                    <!-- series name -->
                    {{ $seriesName := index ($pageCtx.Params.series) 0 }}
                    <div class="sidebar-menu hidden lg:block lg:w-72 lg:h-auto p-2">
                        <h2 class="text-2xl font-semibold py-2">{{ $seriesName }}</h2>
                          {{ partial "sidebar/series-menu.html"  (dict "parentSectionId" nil "pageCtx" $pageCtx "level" 1) }}
                    </div>
                    {{ end -}}
                    <div class="lg:flex-1 overflow-hidden px-2">
                        <article>
                            <header>
                                <h2 class="inline-block py-1 text-2xl font-semibold text-gray-600 rounded hover:text-indigo-900">{{ .Title }}</h2>
                            </header>
                            <div class="flex justify-start flex-wrap text-gray-500 text-sm h-8 py-2">
                                <span class="block truncate w-24">{{ .Date.Format "2006-01-01" }}</span>
                                <div class="">
                                    {{ with .Params.categories }}
                                    {{ range . }}
                                    <a href="{{ "categories" | relURL }}/{{ . | urlize }}" class="common-link">{{ . }}</a>
                                    {{ end }}
                                    {{- end -}}
                                </div>
                                <span class="block px-2 truncate">{{ T "wordCount" .WordCount }}</span>
                                <span class="block px-2 truncate">{{ T "readingTime" .ReadingTime }}</span>
                            </div>
                            <div class="py-2 text-base text-gray-600">
                                <div class="py-3 article-content">
                                    {{ .Content }}
                                </div>
                            </div>
                            <!-- Tags -->
                            <div class="py-3 border-t border-gray-300 border-dashed">
                                <span class="">TAG:</span>
                                {{ with .Params.tags }}
                                {{ range . }}
                                <a href="{{ "tags" | relURL }}/{{ . | urlize }}" class="common-link">{{ . }}</a>
                                {{ end }}
                                {{- end -}}
                            </div>
                            <!-- copyright -->
                            <div class="py-3">
                                <span>{{ T "author" }} : </span>
                                <span>{{ if .Params.author }}{{ .Params.author | safeHTML }}{{ else }}{{ .Site.Author.name | safeHTML }}{{ end }}</span>
                            </div>
                        </article>
                        <div class="flex w-full justify-between max-w-screen-lg mt-2 py-3 ">
                            <div>
                                {{ with .PrevInSection -}}
                                <a class="block" href="{{ .URL }}">
                                    <i class="iconfont icon-fanhui1 font-extrabold"></i>
                                    <span class="text-lg font-semibold text-gray-600 hover:text-indigo-900">{{.Title}}</span>
                                </a>
                                {{- end }}
                            </div>
                            <div>
                                {{ with .NextInSection -}}
                                <a class="next-link-icon block" href="{{ .URL }}">
                                    <span class="text-lg font-semibold text-gray-600 hover:text-indigo-900">{{.Title}}</span>
                                    <i class="iconfont icon-fanhui2 font-extrabold"></i>
                                </a>
                                {{ end -}}
                            </div>
                        </div>
                    </div>
                    {{ if ne .Params.toc false -}}
                        {{ if ne .Params.series nil }}
                    <div class="hidden xl:flex xl:w-72 xl:h-5/6 xl:sticky top-4 ml-2 post-toc border-t p-2 rounded-md shadow border-dashed">
                            {{ partial "toc.html" . }}
                    </div>
                        {{ else }}
                    <div class="hidden lg:flex lg:w-72 lg:h-5/6 lg:sticky top-4 ml-2 post-toc border-t p-2 rounded-md shadow border-dashed">
                            {{ partial "toc.html" . }}
                    </div>
                        {{ end }}
                    {{ end -}}
                </div>
            </div>
            
        </main>
    </div>
{{ end }}