{{ define "main" }}
  {{ $name := .Data.Plural -}}
  {{ $terms := .Data.Terms.Alphabetical -}}
  {{ $length := len $terms -}}
  <div class="w-full bg-white">
      <main class="container mx-auto flex flex-col justify-start items-center py-4">
          <div class="px-2 py-3">
            <h1 class="font-semibold text-2xl">{{ $length }}&nbsp;{{ $name }}</h1>
        </div>
        <div class="w-5/6 max-w-screen-lg">
            <div class="flex flex-wrap justify-start">
                {{- range $key, $value := $terms -}}
                <a class="common-link inline-block h-10 leading-10 px-2 relative" href="{{ $name | relLangURL }}/{{ $value.Term | urlize }}{{ if $.Site.Params.uglyURLs }}.html{{else}}/{{ end }}">
                    {{ $value.Term }}
                    <span class="inline-block h-4 text-sm leading-4 relative -top-0.5 right-0">{{ len $value.Pages }}</span>
                </a>
                {{- end -}}
            </div>
        </div>
    </main>
</div>
{{ end }}