@import "vendor/utils";
@import "vendor/animation";

@import "common/variables";
@import "common/global";

@import "components/code";
@import "components/markdown";

@import "partial/header";
@import "partial/toc";

@import "pages/index";


article .outside {
    font-size: medium;
    background-color: blue;

    .dark-bg {
        background-color: black;
        @at-root (without: article) {
            font-size: small;
            border: 0.2rem;
        }
        @at-root (with: rule) {
            font-size: x-small;
            font-weight: 400;
        }
    }

    
}