<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

<!-- author & description & keywords  -->
<meta name="author" content="{{ if .Params.author }}{{ .Params.author | safeHTML }}{{ else }}{{ .Site.Author.name | safeHTML }}{{ end }}" />

{{- if .Description -}}
  <meta name="description" content="{{ .Description | safeHTML }}" />
{{- else if .IsPage -}}
  <meta name="description" content="{{ .Summary | plainify }}" />
{{- else if .Site.Params.description -}}
  <meta name="description" content="{{ .Site.Params.description | safeHTML }}" />
{{- end -}}

{{- if .Keywords -}}
  {{ $length := len .Keywords | add -1 -}}
  <meta name="keywords" content="{{ range $index, $element := .Keywords }}{{ $element | safeHTML }}{{if ne $index $length }}, {{ end }}{{ end }}" />
{{- else if .Site.Params.keywords -}}
  {{ $length := len .Site.Params.keywords | add -1 -}}
  <meta name="keywords" content="{{ range $index, $element := .Site.Params.keywords }}{{ $element | safeHTML }}{{if ne $index $length }}, {{ end }}{{ end }}" />
{{- end }}

<!-- Styles -->
{{ $stylesTailwind := resources.Get "css/tailwind.scss" | toCSS | postCSS (dict "config" "./assets/css/postcss.config.js") }}
{{/* $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true) */}}
{{ $stylesMain := resources.Get "css/main.scss" | toCSS | postCSS (dict "config" "./assets/css/postcss.config.js")}}
{{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $stylesTailwind.RelPermalink }}">
  <link rel="stylesheet" href="{{ $stylesMain.RelPermalink }}">
{{ else }}
  {{ $stylesTailwind := $stylesTailwind | minify | fingerprint | resources.PostProcess }}
  {{ $stylesMain := $stylesMain | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $stylesTailwind.Permalink }}" integrity="{{ $stylesTailwind.Data.Integrity }}">
  <link rel="stylesheet" href="{{ $stylesMain.Permalink }}" integrity="{{ $stylesMain.Data.Integrity }}">
{{ end }}
<link rel="stylesheet" href="/iconfonts/iconfont.css" />
  <!-- prismjs styles -->
  <!--
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism-twilight.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/plugins/line-numbers/prism-line-numbers.min.css">
  -->
  <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css"> -->
