.sidebar-menu {
  ul > li {
    display: block;
  }

  .sidebar-menu-section {
    // margin-top: 0.125rem;

    a.menu-link {
      span:hover {
        color: $link-color;
        text-decoration: none;
      }

      span.post-active {
        color: $primary;
        font-weight: 600;
        // background-color: $primary;
        &:hover {
          color: $primary;
        }
      }
    }

    span {
      display: block;

      &.menu-1 {
        font-size: 1rem;
        font-weight: 600;
        color: $gray-900;
        padding: 1.25rem 0 0 0;
        margin: 0.75rem 0 0.25rem 0;
      }
      &.menu-2 {
        font-size: 0.875rem;
        font-weight: 400;
        color: $gray-600;
        padding: 0.125rem 0 0 0;
      }
      &.menu-3 {
        font-size: 0.875rem;
        font-weight: 200;
        color: $gray-600;
        padding: 0.125rem 0 0 1rem;
      }
      &.menu-4 {
        font-size: 0.875rem;
        font-weight: 200;
        color: $gray-600;
        padding: 0.125rem 0 0 1.5rem;
      }
      &.menu-5 {
        font-size: 0.75rem;
        font-weight: 200;
        color: $gray-600;
        padding: 0.125rem 0 0 2rem;
      }
      &.menu-6 {
        font-size: 0.75rem;
        font-weight: 200;
        color: $gray-600;
        padding: 0.125rem 0 0 2.5rem;
      }
      &.menu-7 {
        font-size: 0.75rem;
        font-weight: 200;
        color: $gray-600;
        padding: 0.125rem 0 0 3rem;
      }
    }
  }
}
