.post-toc {
  background-color: $content-blockquote-bg-color;

  .toc-page-links {
    nav {
      > ul {
        margin: 0.75rem 0;
        ul {
          list-style: square;
          padding-left: 1rem;
        }
      }
    }

    a.current {
        color: $link-color;
    }

    a:hover {
        color: $link-color;
    }
  }
}
