// ==================================================
// Global
// ==================================================

// ------ Colors ------ //
$white:    #ffffff;
$black:    #000000;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$blue-100: #caf0f8;
$blue-200: #ade8f4;
$blue-300: #90e0ef;
$blue-400: #48cae4;
$blue-500: #00b4d8;
$blue-600: #0096c7;
$blue-700: #0077b6;
$blue-800: #023e8a;
$blue-900: #03045e;

$green-100: #99e2b4;
$green-200: #88d4ab;
$green-300: #78c6a3;
$green-400: #67b99a;
$green-500: #56ab91;
$green-600: #469d89;
$green-700: #358f80;
$green-800: #248277;
$green-900: #14746f;


$primary: $blue-900;


// ------ Fonts ------ //
$global-font-size: 16px !default;
$global-font-color: $gray-800;


// ------ Link ------ //
$link-color: $blue-700;
$link-decoration: none;


// ------ heading ------//
$global-headings: (
  h1: 1.75rem,
  h2: 1.5rem,
  h3: 1.25rem,
  h4: 1.125rem,
  h5: 1rem,
  h6: 1rem
) !default;



// ==================================================
// Code Highlight Variables
// ==================================================

// code text color
$code-text-color: #023e8a;
// Font size of code.
$code-font-size: 0.9em !default;
// font family
$code-font-family: Consolas, Monaco, Menlo, "DejaVu Sans Mono",
 "Bitstream Vera Sans Mono", "Courier New", monospace !default;
// code background color
$code-bg-color: #e1f6fb;    // #caf0f8;
$content-blockquote-bg-color: #e1f6fb;

// Code type list.
$code-type-list: (
  // Custom code type
  language-bash: "Bash",
  language-c: "C",
  language-cs: "C#",
  language-cpp: "C++",
  language-css: "CSS",
  language-coffeescript: "CoffeeScript",
  language-html: "HTML",
  language-xml: "XML",
  language-http: "HTTP",
  language-json: "JSON",
  language-java: "Java",
  language-js: "JavaScript",
  language-javascript: "JavaScript",
  language-makefile: "Makefile",
  language-markdown: "Markdown",
  language-objectivec: "Objective-C",
  language-php: "PHP",
  language-perl: "Perl",
  language-python: "Python",
  language-ruby: "Ruby",
  language-sql: "SQL",
  language-shell: "Shell",

  language-erlang: "Erlang",
  language-go: "Go",
  language-go-html-template: "Go HTML Template",
  language-groovy: "Groovy",
  language-haskell: "Haskell",
  language-kotlin: "Kotlin",
  language-clojure: "Clojure",
  language-less: "Less",
  language-lisp: "Lisp",
  language-lua: "Lua",
  language-matlab: "Matlab",
  language-rust: "Rust",
  language-scss: "Scss",
  language-scala: "Scala",
  language-swift: "Swift",
  language-typescript: "TypeScript",
  language-yml: "YAML",
  language-yaml: "YAML",
  language-toml: "TOML",
  language-diff: "Diff"
) !default;